html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: gray;
}

.container {
  width: 100vh;
  height: 100vh;

  display: grid;
  grid-template-columns: 200px 500px;
  grid-template-areas:
    "f f "
    "s t "
    "s t ";
  justify-content: center;
  align-content: center;

  
  flex-direction: row;
}

header {
  background: yellow;
  height: 200px;
  grid-area: f;
}

aside {
  background: blue;
  height: 200px;
  grid-area: s;
}

footer {
  background: green;
  height: 200px;
  grid-area: t;
}
