html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(180, 177, 177);
}

/*
.container {
  width: 1500px;
  height: 650px;
  border: 1px solid red;
  margin: 50px 200px 0 500px;
  padding: 0 20px;
}
*/

.header {
  width: 500px;
  height: 250px;
  border: 1px solid red;
  margin: 50px 200px 0 500px;
  padding: 0 20px;
}

.aside {
  display: inline-block;

  width: 250px;
  height: 250px;
  background-color: aquamarine;
  
}

.footer {
  display: inline-block;

  width: 250px;
  height: 250px;
  background-color: mediumpurple;
 
}

/*
.container {
  width: 500px;
  height: 500px;

  display: grid;
  grid-template-columns: 1000px 500px;
  grid-template-areas:
    "f f "
    "s t "
    "s t ";
  justify-content: center;
  align-content: center;

}

header {
  background: yellow;
  height: 200px;
  grid-area: f;
}

aside {
  background: blue;
  height: 200px;
  width: 1000px;

  grid-area: s;
}

footer {
  background: green;
  height: 200px;
  grid-area: t;
}
*/