/* Global ---------------------- */
:root {
    --color-pink: hsl(0, 36%, 70%);
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font: 16px "Josefin Sans", sans-serif;
  }

  main {
      display: flex;
      flex-direction: column;
  }

  main .logo {
    width: 30vw;

    padding: 4vh 8vw;
  }

  .mulher {
      width: 100%;
      height: 35vh;
  }

  .container-text {
      padding: 4vh 8vw;
  }

  .container-text #text-pink {
    color: var(--color-pink);
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 2.5vw;
    margin-bottom: 0;
    text-align: center;
  }

  .container-text #text-normal {
    color: hsl(0, 6%, 24%);
    font-size: 2.5em;
    font-weight: bolder;

    letter-spacing: 2.5vw;
    margin: 0;
    text-align: center;
  }

  .container-text p {
    color: var(--color-pink);
    opacity: .8;
    font-size: 1;
    font-weight: 400;
    line-height: 1.6;

    margin: 2vh 0 5vh 0;
    text-align: center;
  }

  br {
      display: none;
  }

  .container-text #input-email {
    display: inline;
    border-radius: 2rem;
    border: 2px var(--color-pink) solid;
    box-shadow: 0 0 0 0;
    outline: 0;
    opacity:  0.5;
      
    padding-top: 1em;
    padding-bottom: 1em;
    width: 96%;
  }

  input::placeholder {
    color: var(--color-pink);
    font-weight: bolder;
    font-size: 1em;
  }

  .container-text a {
    background: -webkit-linear-gradient(left, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    background: linear-gradient(to right, (0, 80%, 86%), hsl(0, 74%, 74%));
    padding: .5em 1.5em;
    border-radius: 2rem;

    position: absolute;
    right: 4vh;
    box-shadow: 0 1px 80px 0 var(--color-pink), 0 6px 20px 0 var1(--color-pink);
  }

  .container-text a img {
    display: inline;
    width: 25px;
    height: auto;    
    filter: invert(1);
  }

@media (min-width: 501px) {


    
}