/* Global ---------------------- */
:root {
  --color-greenlemon: #cee367;
  --color-green: #2cb3af;
  --color-greentwo: #4bbcbf;
  --color-gray: #cdcdcd;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f0f0f0;
  font-family: "Roboto", sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Container ---------------------- */
.container {
  display: grid;
  grid-template-columns: repeat(2, 60vh);
  grid-template-rows: 35vh 50vh;
  grid-template-areas:
    "T T"
    "L R";
}

/* Cards  ---------------------- */
#card-top {
  grid-area: T;
  background: #fffeff;

  padding: 1.5rem 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

#card-left {
  grid-area: L;
  background: var(--color-green);

  padding: 1.5rem 2rem;
  border-radius: 0 0 0 0.5rem;
}

#card-right {
  grid-area: R;
  background: var(--color-greentwo);

  padding: 1.5rem 2rem;
  border-radius: 0 0 0.5rem 0;
}

/* Fonts ---------------------- */
h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 17.5px;
}

.green {
  color: var(--color-green);
}

.green-2 {
  color: var(--color-greenlemon);
}

.gray {
  color: #cdcdcd;
  font-weight: bolder;
}

.white {
  color: #c2f4fe;
}

.inline {
  display: flex;
  align-items: center;
}

#per-month {
  font-size: 20px;

  margin-left: 1rem;
}

span {
  font-size: 52px;
}

/* Button ---------------------- */
.button {
  display: inline-block;

  text-decoration: none;
  background: #c0de32;
  padding: 12px 110px;
  font-weight: bold;
  color: white;
  opacity: 0.85;
  border-radius: 0.5rem;
  margin-bottom: 10px;
}

.button:hover {
  opacity: 1;
}

/* Responsive ---------------------- */
@media (max-width: 375px) {
  main {
    
  }

  .container {
    display: grid;
    grid-template-columns: 70vw;
    grid-template-rows: 46vh 38vh 45vh;
    grid-template-areas:
      "T"
      "R"
      "L";
  }

  #card-top {
    grid-area: T;
    background: #fffeff;
    
    padding: 1.5rem 2rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 10pt;
  }

  #card-left {
    grid-area: L;
    background: var(--color-green);  
  }
  
  #card-right {
    grid-area: R;
    background: var(--color-greentwo);
  }