/* Global ---------------------- */
:root {
  --color-greenlemon: #cee367;
  --color-green: #2cb3af;
  --color-greentwo: #4bbcbf;
  --color-gray: #cdcdcd;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f0f0f0;
  font-family: "Karla", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container ---------------------- */
main {
  background: #f0f0f0;
  display: grid;
  grid-template-columns: repeat(2, 45vh);
  grid-template-rows: 40vh 60%;
  grid-template-areas:
    "T T"
    "L R";

    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Cards  ---------------------- */
#card-top {
  grid-area: T;
  background: #fffeff;

  padding: 1rem 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

#card-left {
  grid-area: L;
  background: var(--color-green);

  padding: 1.5rem 2rem;
  border-radius: 0 0 0 0.5rem;
}

#card-right {
  grid-area: R;
  background: var(--color-greentwo);

  padding: 1.5rem 2rem;
  border-radius: 0 0 0.5rem 0;
}

/* Fonts/texts ---------------------- */
h1 {
  font-size: 16pt;
  font-weight: bolder;
}

h2 {
  font-size: 14pt;
  font-weight: 700;
}

p {
  font-size: 10pt;
  font-weight: 400;  
}

.break {
  display: block;
}

.green {
  color: var(--color-green);
  
}

.green-2 {
  color: var(--color-greenlemon);
  line-height: 1.5;
}

.gray {
  color: #cdcdcd;
  font-weight: 700;
  line-height: 1.5;
}

.white {
  color: white;
  font-weight: 700;
}

.white-trans {
  color: #c2f4fe;
  font-weight: 700;
}

.line-height {
  line-height: 1.5;
  font-weight: 400;
  font-size: 9pt;
}

.inline {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#per-month {
  font-size: 12pt;  
  margin-left: 1rem;
  font-weight: 400;
}

.full-access {
  margin-top: 0;
  font-weight: 400;
}

.value {
  font-size: 20pt;
}

/* Button ---------------------- */
.button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background: #c0de32;
  padding: .7rem 4.7rem;
  margin-top: 1rem;  
  font-weight: bold;
  font-size: 10pt;
  color: white;
  opacity: 0.85;
  border-radius: 0.3rem;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  opacity: 1;
}

/* Responsive ---------------------- */
@media (max-width: 375px) {
  main {
    padding: 0.1rem 2rem 3rem 0rem;
  }

  .container {
    display: grid;
    grid-template-columns: 70vw;
    grid-template-rows: 32vh 30vh 32vh;
    grid-template-areas:
      "T"
      "L"
      "R";
  }

  #card-top {
    grid-area: T;
    background: #fffeff;

    padding: 0rem 1rem 1rem 2rem;
    border-radius: 0.5rem 0.5rem 0 0;
    font-size: 10pt;
    margin-right: 0;
    
  }

  #card-left {
    grid-area: L;
    background: var(--color-green);

    padding: 0rem 1rem 1rem 2rem;
    border-radius: 0 0 0 0;
  }

  #card-right {
    grid-area: R;
    background: var(--color-greentwo);

    padding: 0rem 1rem 1rem 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  /* Fonts ---------------------- */
  h1 {
    font-size: 12pt;
  }

  h2 {
    font-size: 10pt;
  }

  .break {
    display: inline;
    text-align: justify;
    font-size: 8pt;
  }

  #per-month {
    font-size: 10pt;
  }
}
