/* Global ---------------------- */
:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-veryDarkBlue: hsl(234, 12%, 34%);
  --color-grayishBlue: hsl(229, 6%, 66%);
  --color-veryLightGray: hsl(0, 0%, 98%);
}

html,
body {
  width: 99vw;
  height: 95vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--color-veryLightGray);
  font-family: "Poppins", sans-serif;
}

/* Header ---------------------------------------------- */
header {
  text-align: center;
  margin-top: 5vh;
}

.weight-normal {
  font-weight: 200;
  font-style: normal;
  font-size: 20pt;
  margin-bottom: -4px;
}

.weight-bolder {
  font-weight: 600;
  font-size: 1.98em;
  font-size: 20pt;
  margin-top: 1px;
}

h1 {
  color: var(--color-veryDarkBlue);
}

h2 {
  font-size: 12pt;
  font-weight: 600;
  color: var(--color-veryDarkBlue)
}

h3 {
  font-weight: 400;
  font-size: 8pt;
  color: var(--color-grayishBlue);
}

/* Main ---------------------------------------------- */
main {
  
  background: white;
}

.container {
  position: absolute;
  top: 2vh;
}

.team-builder, .supervisor, .karma, .calculator {
  background: var(--color-veryLightGray);
  height: 23vh;
  width: 17vw;
  padding: 1rem 1rem;

  border-radius: 0.2rem;
  border-top-style: solid;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 12px 15px 0 rgba(0, 0, 0, 0.1);
}

.team-builder {  
  border-color: var(--color-red);

  position: absolute;
  top: 28vh;
  left: 40vw;  
}

.supervisor {
  border-color: var(--color-cyan);
  
  position: absolute;
  top: 45vh;
  left: 18.5vw;
}

.calculator {
  border-color: var(--color-blue);
  
  position: absolute;
  top: 45vh;
  left: 61.5vw;
}

.karma {
  border-color: var(--color-orange);

  position: absolute;
  top: 60vh;
  left: 40vw;
}

.karma .text, .supervisor .text, .calculator .text, .team-builder .text{
  font-size: 8pt;
}

img  {
  display: flex;
  width: 45px;
  height: auto;

  float: right;
  /*margin-left: 20vw;*/
}

.container p {
  font-weight: 400;
  font-size: 15px;
  color: var(--color-grayishBlue);
}

@media (max-width: 375px) {

}
