/* Global ---------------------- */
:root {
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  --color-blue: hsl(248, 32%, 49%);
  --color-darkBlue: hsl(249, 10%, 26%);
  --color-grayishBlue: hsl(246, 25%, 77%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background: url(./images/bg-intro-mobile.png) var(--color-red);
}

main {
  display: flex;
  flex-direction: column;
}

#first-part {
  padding: 10vh 6vw 5vh 6vw;
  text-align: center;
}

br {
  display: none;
}

#first-part h1 {
  color: white;

  font-size: clamp(0.7em, 1.1em, 1.5em);
  font-weight: bolder;
  margin-bottom: 1em;
}

#first-part p {
  color: white;
  font-size: clamp(0.5em, 0.6em, 1.1em);
}

#second-part {
  padding: 0 6vw 5vh 6vw;
}

#second-part .spotlight {
  background: var(--color-blue);
  display: inline-block;
  color: white;
  text-align: center;
  font-size: clamp(0.5em, 0.6em, 1.1em);
  border-radius: 0.5em;

  width: 100%;
  padding: 2.5vh 3em;
  margin-bottom: 1.5em;

  box-shadow: 0 0 1px 0 var(--color-blue), 0 0 15px 0 rgba(0, 0, 0, 0.19);
}

#second-part p span {
  font-weight: bold;
}

#second-part .container-form {
  background: white;
  padding: 0.8em;
  border-radius: 0.5em;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
    0 10px 100px 0 rgba(56, 9, 9, 0.19);
}

#second-part .container-form input {
  display: block;

  border: 1px solid hsla(249, 10%, 26%, 0.164);
  border-radius: 0.3em;
  opacity: 0.8;
  padding: 0.8em 0 0.8em 0.8em;
  margin-bottom: 0.8em;
  width: 99.5%;
}

.change-input::-webkit-input-placeholder {
  color: var(--color-darkBlue);
  font-weight: bold;
  font-size: clamp(0.6em, 0.7em, 1.2em);
}

.change-input:focus {
  border: 1em solid red;
  border-radius: 0.3em;
  /*
    outline: 1px solid black;
    border-color: red;
    font-weight: bolder;
    outline: 1;*/
}

#second-part .container-form #button {
  display: block;
  background: var(--color-green);
  color: white;
  text-align: center;
  text-decoration: none;
  width: auto;
  padding: 1em 0 0.5em 0;
  font-size: clamp(0.5em, 0.6em, 1.1em);

  border-radius: 0.3em;

  box-shadow: 0 4px 1px 0 var(--color-green), 0 10px 100px 0 rgba(0, 0, 0, 0.19);
}

#second-part .container-form #warning {
  color: var(--color-grayishBlue);
  text-align: center;
  font-size: clamp(0.3em, 0.4em, 0.9em);

  margin-top: 2.8vh;
}

#second-part .container-form span {
  color: var(--color-red);
  font-weight: bold;
}

@media (min-width: 501px) {
  #first-part h1 {
    font-size: clamp(1.6em, 1.6em, 2.1em);
    margin: 0;
  }

  #first-part p {
    margin-top: 3vh;
    font-size: clamp(.8em, .8em, 1.3em);
  }

  #second-part .spotlight {
    font-size: clamp(.8em, .8em, 1.3em);
  }

  .change-input::-webkit-input-placeholder {
    font-size: clamp(.8em, .8em, 1.3em);
  }

  #second-part .container-form #button {
    font-size: clamp(.7em, .7em, 1.2em)
  }

  #second-part .container-form #warning {
    font-size: clamp(0.6em, 0.6em, 1em);
  }
}

@media (min-width: 820px) {
  body {
    padding: 0;
    margin: 0;
    background: url(./images/bg-intro-desktop.png) var(--color-red);
  }

  main {
    display: grid;
    grid-template-columns: 2, 50% 50%;
    grid-template-areas: "L1 R1";
  }

  #first-part {
    grid-area: L1;
    padding: 25vh 0em 25vh 10vw;
  }

  #first-part h1 {
    
    color: white;
    margin-top: 10%;
    margin-bottom: 2.5vh;

    font-size: clamp(2.1em, 2.5em, 2.5em);
    font-weight: bolder;
    text-align: left;
  }

  br {
    display: block;
  }

  #first-part p {
    width: 39vw;
    color: white;
    font-size: clamp(0.5em, 1em, 1em);
    text-align: left;
  }
  
  /* Second-part ---------------------- */
  #second-part {
    grid-area: R1;
    margin-top: 15vh;
  }
  
  #second-part .spotlight {
    background: var(--color-blue);
    display: inline-block;
    color: white;
    text-align: center;
    font-size: clamp(0.5em, .8em, 1em);
  
    width: 35vw;
    padding: 1em 1em;
    margin-bottom: 3vh;
    border-radius: 0.5em;
  }
  
  #second-part .spotlight p {
    font-weight: 400;
  }
  
  #second-part .spotlight span {
    font-weight: 600;
  }
  
  /* Second-part/container-Form ---------------------- */
  #second-part .container-form {
    background: white;
  
    border-radius: 0.5em;
  
    padding: 1vh 4vh 1vh 4vh;
    width: 35vw;
  }
  
  #second-part .container-form input {
    display: block;
  
    border: 1px solid hsla(249, 10%, 26%, 0.164);
    padding: 2vh;
    margin-top: 2vh;
    border-radius: 0.3em;
    opacity: 0.8;
    font-size: clamp(0.7em, 1.2em, 1.2em);
  }
  
  .change-input::-webkit-input-placeholder{
    color: var(--color-darkBlue);
    font-weight: bold;
  }
  
  .change-input:focus {
    border: 10px solid red;
    border-radius: 0.3em;
    /*
    outline: 1px solid black;
    border-color: red;
    font-weight: bolder;
    outline: 1;*/
  }
  
  #second-part .container-form #button {
    display: block;
    background: var(--color-green);
    color: white;
    text-align: center;
    text-decoration: none;
    width: auto;
    padding: 2vh;
    font-size: clamp(.4em, .9em, .9em);
  
    border-radius: 0.3em;
    margin: 1vh 0 1vh 0;
  }
  
  #second-part .spotlight,
  #button,
  .container-form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 100px 0 rgba(0, 0, 0, 0.19);
  }
  
  #second-part .container-form #warning {
    color: var(--color-grayishBlue);
    text-align: center;
    font-size: clamp(.1 em, .6em, .6em);
    margin-bottom: 2vh;
  }
  
  #second-part .container-form span {
    color: var(--color-red);
  }
}
